<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tamirmo.uncrowd">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:testOnly="false"
        android:theme="@style/AppTheme">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".businesses.list.BusinessesListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".business.view.BusinessExtendedDetailsActivity"
            android:label="@string/title_activity_business_extended_details" />
        <activity android:name=".map.MapActivity" />
        <activity
            android:name=".search.AdvancedSearchActivity"
            android:label="@string/title_activity_advanced_search" />
        <activity
            android:name=".alternatives.AlternativesActivity"
            android:label="@string/title_activity_alternatives" />

        <service android:name=".service.TrackBusinessService" />

        <receiver
            android:name=".service.EndBroadcastReceiver"
            android:enabled="true"
            android:process=":remote" />

    </application>

</manifest>